[Desktop Entry]
Name=Emulate Sidebar
Comment=Controls maximizing windows so they dont cover sidebar plasmoids
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Mike Hill
X-KDE-PluginInfo-Email=mikehill.pointless@gmail.com
X-KDE-PluginInfo-Name=EmulateSidebar
X-KDE-PluginInfo-Version=1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
